{% extends 'page.html' %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <a href='{{ url_for("dashboard") }}' class='link-back'>&lt; dashboard</a>
      <h1>Recent changes</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
        <table class='table table-striped'>
        {% for item in log %}
            <tr>
                <td>{{ item.time_now.date() }}</td>
                <td>{{ item.time_now.time() }}</td>
                <td>{{ item.client_ip }}</td>
                <td><a href='{{ item.url }}' target="_blank">{{ item.url }}</a></td>
                <td>{{ item.action }}</td>
                <td>
                    <table class='table'>
                    {% for k,v in item.extra.items() %}
                        <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
                    {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
  </div>
</div>
{% endblock content %}
