{% extends 'page.html' %}

{% block canonical_link %}{{ url_for('.article', doc_id=article._id) }}{% endblock %}

{% block content %}
<script>
function confirm_person(person_id) {
    $.ajax({
        url: '{{ url_for('.article_person_remove', doc_id=article._id) }}',
        type: 'PUT',
        data: {person_id: person_id}    
    }).done(function(data, textStatus, jqXHR) {
        $('#people-tagged').html(data);
    }); 
}

function remove_person(person_id) {
    $.ajax({
        url: '{{ url_for('.article_person_remove', doc_id=article._id) }}',
        type: 'DELETE',
        data: {person_id: person_id}    
    }).done(function(data, textStatus, jqXHR) {
        $('#people-tagged').html(data);
    });  
}

function confirm_constituency(constituency_id) {
    $.ajax({
        url: '{{ url_for('.article_constituency_confirm', doc_id=article._id) }}',
        type: 'PUT',
        data: {constituency_id: constituency_id}    
    }).done(function(data, textStatus, jqXHR) {
        $('#constituencies-tagged').html(data);
    }); 
}

function remove_constituency(constituency_id) {
    $.ajax({
        url: '{{ url_for('.article_constituency_remove', doc_id=article._id) }}',
        type: 'DELETE',
        data: {constituency_id: constituency_id}    
    }).done(function(data, textStatus, jqXHR) {
        $('#constituencies-tagged').html(data);
    });  
}

function add_person() {
    person_id = $('#autocomplete-person').val();

    $.ajax({
        url: '{{ url_for('.article_person_confirm', doc_id=article._id) }}',
        type: 'PUT',
        data: {person_id: person_id}    
    }).done(function(data, textStatus, jqXHR) {
        $('#people-tagged').html(data);
    }); 
}

function add_constituency() {
    constituency_id = $('#autocomplete-constituency').val();

    $.ajax({
        url: '{{ url_for('.article_constituency_confirm', doc_id=article._id) }}',
        type: 'PUT',
        data: {constituency_id: constituency_id}    
    }).done(function(data, textStatus, jqXHR) {
        $('#constituencies-tagged').html(data);
    }); 
}
</script>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <a href='{{ url_for(".index") }}' class='link-back'>&lt; all articles</a>
      <h1>{{ article.page.title }}</h1>
      <p><a href='{{ article.page.url }}'>{{ article.domain }}</a></p>
      {% if article.state == 'moderated' %}
        <p style='background:#FCC;padding:10px;color:black;'>This article is being moderated and won't appear in listings yet.</p>
      {% elif article.state == 'removed' %}
        <p style='background:#FCC;padding:10px;color:black;'>This article has been removed.</p>
      {% endif %}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
    <h2>People tagged</h2>

    <button style='margin-bottom: 5px;'>add person</button>

    <div class='add-person'>
    <label for="autocomplete-person">Name </label>
    <input id="autocomplete-person">
    <button onclick='add_person();'>add</button>
    </div>

    <ul class='people-tagged' id='people-tagged'>
        {% include "article_people_tagged.html" %}
    </ul>

    <h2>Constituencies tagged</h2>

    <div class='add-constituency'>
    <label for="autocomplete-constituency">Name </label>
    <input id="autocomplete-constituency">
    <button onclick='add_constituency();'>add</button>
    </div>
    <ul class='constituencies-tagged' id='constituencies-tagged'>
        {% include "article_constituencies_tagged.html" %}
    </ul>

    <h2>Parties tagged</h2>

    <ul class='parties-tagged'>
    {% for party in article.possible_party_matches %}
        <li class='party-tagged'>
            <span class='name'>{{ party.name }}</span>
            <button>confirm</button> <button>remove</button>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class='col-md-9' id='article-tabs'>
        <ul>
            <li><a href="#tabs-1">Extracted text</a></li>
            <li><a href="#tabs-2">Article</a></li>
        </ul>
        <div id="tabs-1">
            {{ article.page.text|replace('\n', '<br/>')|safe }}
        </div>
        <div id="tabs-2">
            <!--<iframe src='{{ article.page.url }}' style='width:100%;height:800px;'></iframe>-->
        </div>
    </div>
  </div>
</div>
<script>
$(function() {
    $("#article-tabs").tabs();
    $("#autocomplete-person").autocomplete({source: "{{ url_for('.autocomplete_person') }}"});
    $("#autocomplete-constituency").autocomplete({source: "{{ url_for('.autocomplete_constituency') }}"});
});
</script>
{% endblock content %}
