<ul class='article-list'>
{% for article in articles %}
    {% if article.page %}
    <li class='article-item'>
      {% if article.page.date_published %}<small>{{ article.page.date_published.date() }}</small>{% endif %}
      <h2><a class='article-link'href='{{ article.page.url }}'>
      {% if article.page.title %}
        {{ article.page.title }}
      {% else %}
        {{ article.page.url }}
      {% endif %}
      </a> <small><a href='http://{{ article.domain }}'>{{ article.domain }}</a></small> <small><a href='{{ url_for('.article', doc_id=article._id) }}'>edit</a></small></h2>
 
      <ul class='article-mentions-people'>
      {% for candidate in article.candidates %}
        <li class='candidate-score-{{ candidate.state }}'><a href='{{ url_for('.person', person_id=candidate.id) }}'>{{ candidate.name }}</a><a onclick='$("#quotes-{{ article._id }} .quote-candidate-{{ candidate.id }}").show();$("#quotes-{{ article._id }} .quote-candidate-{{ candidate.id }}-highlight").addClass("highlight");' class='candidate-mention-expand'>+</a></li>
      {% endfor %}
      </ul>
      <ul class='article-mentions-constituencies'>
      {% for constituency in article.constituencies %}
        <li class='constituency-score-{{ constituency.state }}'><a href='{{ url_for('.constituency', constituency_id=constituency.id) }}'>{{ constituency.name }}</a></li>
      {% endfor %}
      </ul>

      <ul class='quotes' id='quotes-{{ article._id }}'>
      {% for quote in article.quotes %}
        <li class='quote
                  {% for candidate in quote.candidates %} quote-candidate-{{ candidate.id }}{% endfor %}
                  {% for constituency in quote.constituencies %} quote-constituency-{{ constituency.id }}{% endfor %}
                  {% if quotes_closed %} quote-closed{% endif %}'>
          <!--<ul class='quote-mentions'>
          {% for candidate in quote.candidates %}
            <li class='quote-mention-candidate'><a href='{{ url_for('.person', person_id=candidate.id) }}'>{{ candidate.name }}</a></li>
          {% endfor %}
          {% for party in quote.parties %}
            <li class='quote-mention-party'><a href=''>{{ party.name }}</a></li>
          {% endfor %}
          {% for constituency in quote.constituencies %}
            <li class='quote-mention-constituency'><a href='{{ url_for('.constituency', constituency_id=constituency.id) }}'>{{ constituency.name }}</a></li>
          {% endfor %}
          </ul>-->
          <p class='quote-text'>{{ quote.html|safe }}</p>
        </li>
      {% endfor %}
      </ul>
    </li>
    {% endif %}
{% endfor %}
</ul>
