    {% for person in article.analysis.final.candidates|sort(attribute='name') %}
        <li class='person-tagged person-tagged-{{ person.state }}'>
            <div class='name'><a href='{{ url_for('.person', person_id=person.id) }}'>{{ person.name }}</a></div>
            <div class='candidacies'>
            {% for year, candidacy in person.candidacies.items() %}
                <div class='candidacy'>
                    <span class='year'>{{ year }}</span>
                    <span class='party'>{{ candidacy.party.name }}</span>
                    <span class='constituency'>{{ candidacy.constituency.name }}</span>
                </div>
            {% endfor %}
            </div>

            {% if person.state == 'confirmed' %}
                Tagged, <button onclick='remove_person("{{ person.id }}")'>un-tag</button>
            {% elif person.state == 'removed' %}
                Tag removed, <button onclick='confirm_person("{{ person.id }}")'>re-tag</button>
            {% else %}
                Is this person mentioned in the article?
                <button onclick='confirm_person("{{ person.id }}")'>yes</button> <button onclick='remove_person("{{ person.id }}")'>no</button>
            {% endif %}
        </li>
    {% endfor %}
