{% extends 'page.html' %}

{% block title %}{{ area.name }} mentions - #ge2015 mentions{% endblock %}

{% block canonical_link %}{{ url_for('.constituency', constituency_id=area.id) }}{% endblock %}

{% block header %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ url_for('.constituency_rss', constituency_id=area.id) }}" />
{% endblock %}

{% block content %}
<div class='container'>
  {% include "header.html" %}
</div>
<div style='background:#516FFF;margin-bottom:20px;'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 top-banner'>
        <div class='name'>
          <a href='{{ url_for('.constituency_rss', constituency_id=area.id) }}' style='float: right; color: white; line-height: 1em;'>RSS feed <i class='fa fa-rss'></i></a>
          <h1>{{ area.name }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-md-12 col-sm-12'>
            <h3 style='margin-top:0;'><i class="fa fa-users"></i> Candidates in 2015 General Election</h3>
            <ul class="candidates">
            {% for candidate in candidates %}
              {% if "ge2015" in candidate.candidacies and candidate.candidacies['ge2015'].constituency.id == area.id %}
              <li class="candidate">
                <div class="candidate-count">{{ candidate.mentions.total_count }}</div>
                {% if candidate.proxy_image %}
                    <div class="candidate-photo"><img src='{{ candidate.proxy_image }}/0/40' alt='Photo of {{ candidate.name }}'/></div>
                {% else %}
                    <div class="candidate-photo"><img src='/static/images/blank-man.png' alt='Photo of {{ candidate.name }}'/></div>
                {% endif %}
                <div class="candidate-name"><a href='{{ url_for('.person', person_id=candidate.id) }}'>{{ candidate.name }}</a></div>
                <div class="candidate-party">{{ candidate.candidacies['ge2015'].party.name }}</div>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12 col-sm-12'>
            <h3><i class="fa fa-newspaper-o"></i> In the press</h3>
            <p class='warning'><i class="fa fa-info-circle"></i> These are automatically matched pages that we think are talking about the {{ area.name }} constituency or the candidates who stood here. There may be errors.</p>
            {% include "stream.html" %} 
        </div>
    </div>
</div>
<div class='footer'>
<div class='container'>
  {% include "footer.html" %}
</div>
</div>
{% endblock content %}
