{% extends 'page.html' %}

{% block title %}{{ area.name }} mentions - #ge2015 mentions{% endblock %}

{% block canonical_link %}{{ url_for('.constituency', constituency_id=area.id) }}{% endblock %}

{% block content %}
<div class='container'>
  {% include "header.html" %}
  <div class='row'>
    <div class='col-md-12 top-banner'>
      {#<a href='{{ url_for(".index") }}' class='link-back'>&lt; all articles</a>#}
      <h1>{{ area.name }}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
        <h3>2015 candidates</h3>
        {% for candidate in candidates %}
          {% if "2015" in candidate.candidacies and candidate.candidacies['2015'].constituency.id == area.id %}
          <p>
            <strong><a href='{{ url_for('.person', person_id=candidate.id) }}'>{{ candidate.name }}</a></strong> {% if candidate.mentions %}{{ candidate.mentions.total_count }}{% endif %}<br/>
            <em>{{ candidate.candidacies['2015'].party.name }}</em>
          </p>
          {% endif %}
        {% endfor %}
        <h3>2010 candidates</h3>
        {% for candidate in candidates %}
          {% if "2010" in candidate.candidacies and candidate.candidacies['2010'].constituency.id == area.id %}
          <p>
            <strong><a href='{{ url_for('.person', person_id=candidate.id) }}'>{{ candidate.name }}</a></strong><br/>
            <em>{{ candidate.candidacies['2010'].party.name }}</em>
          </p>
          {% endif %}
        {% endfor %}
    </div>
    {#<div class='col-md-10'>
        {% include "article_add_form.html" %}
    </div>#}
    <div class='col-md-10'>
        {% set num_articles=articles|length %}
        {% if num_articles == 0 %}
        <p class='warning'>We don't know of any articles. Why not try to find one and add it?</p>
        {% include "article_add_form.html" %}
        {% else %}
        <p class='warning'>These are articles that we think are talking about {{ area.name }} constituency. There may be errors.</p>
        {% set quotes_closed=True %}
        {% include "article_list.html" %} 
        <script>
            $('.quote-constituency-{{ area.id }}:first').removeClass('quote-closed').show();
            $('.quote-constituency-{{ area.id }}-highlight').addClass("constituency-highlight");

            {% for candidate in candidates %}
            $('.quote-candidate-{{ candidate.id }}:first').removeClass('quote-closed').show();
            $('.quote-candidate-{{ candidate.id }}-highlight').addClass("candidate-highlight");
            {% endfor %}
        
            recalculate_extra_quotes();
        </script>
        {% endif %}
    </div>
  </div>
</div>
<div class='footer'>
<div class='container'>
  {% include "footer.html" %}
</div>
</div>
{% endblock content %}
