{% extends 'page.html' %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script src='/static/js/timeline.js'></script>
{% endblock %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-md-12 top-banner'>
      <a href='{{ url_for("ppsay.index") }}' class='link-back'>&lt; all articles</a>
      <div class='name'>
        <h1>Dashboard</h1>
      </div>
    </div>
  </div>

  <div class='row dashboard'>
  <div class='col-md-6'>
    {% with side='left' %}
        {% include 'dashboard_queries.html' %}
    {% endwith %}
  </div>
  <div class='col-md-6'>
    {% with side='right' %}
        {% include 'dashboard_queries.html' %}
    {% endwith %}
  </div>
  </div>
</div>
{% endblock content %}
