{% for query in queries %}
  {% if loop.cycle('left', 'right') == side %}
  <div class='query'>
    {% if query.template == 'count' %}
        <h2>{{ query.name }}</h2>
        <em>{{ stats[query.id] }}</em>
    {% elif query.template == 'timeseries' %}
        <h2>{{ query.name }}</h2>
        <div id="{{ query.id }}" class="timeseries" style="width:100%;height:300px;">
        </div>
        <script>
            $(document).ready(function(){
                var headspace = 130

                var data = [
                    {% for day in stats[query.id] %}
                        {
                            date: "{{day._id.y}}-{{day._id.m}}-{{day._id.d}}",
                            value: {{day.value}}
                        }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ]

                make_timeline_line("div#{{ query.id }}", data, "{{ query.xlabel }}", "{{ query.ylabel }}");
            })
        </script>
    {% elif query.template == 'table' %}
        <h2>{{ query.name }}</h2>
        <table>
        <tr>
            <th>{{ query.xlabel }}</th> <th>{{ query.ylabel }}</th>
        </tr>
        {% for row in stats[query.id] %}
        <tr>
            <td>{{ row._id }}</td> <td>{{ row.value }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
  </div>
  {% endif %}
{% endfor %}
