{% extends 'page.html' %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <a href='{{ url_for(".dashboard") }}' class='link-back'>&lt; dashboard</a>
      <h1>Classifier performance</h1>
    </div>
  </div>
  {% set headspace = 350 %}
  <div class='row'>
    <div class='col-md-12'>
      <svg width="100%" height="400" class="chart">
        <line x1="5%" y1="{{ headspace }}" x2="95%" y2="{{ headspace }}" class="axis-x"/>
        <line x1="5%" y1="{{ headspace }}" x2="5%" y2="50" class="axis-y"/>
        <text x="5%" dx="-5px" y="{{ headspace }}" class="label-y">0.0</text>
        <text x="5%" dx="-5px" y="50" class="label-y">1.0</text>
        
        <text x="5%" y="{{ headspace }}" dy="10px" class="label-x">start</text>
        <text x="95%" y="{{ headspace }}" dy="10px" class="label-x">end</text>
      </svg>
    </div>
  </div>
  <script>
    $(document).ready(function(){

    var headspace = {{ headspace }};

    var svg = d3.select("svg.chart");

    var data = {{ stats_json|safe }};

    var start = data['stats'][0]['day'];
    var end = data['stats'][data['stats'].length-1]['day'];

    var start_date = new Date(start*1000);
    var end_date = new Date(end*1000);

    console.log(start_date);
    console.log(end_date);

    var circle = svg.selectAll("circle").data(data['stats']);

    circle.enter().append("circle")
          .attr("cx", function(d) { return ((d.day - start) / (end-start)*90 + 5) + "%"; })
          .attr("cy", function(d) { return (d.remove) / (d.confirm + d.remove) * (headspace - 50) + 50; })
          .attr("r", 5);
    });
  </script>
</div>
{% endblock content %}
