{% for query in queries %}
  {% if loop.cycle('left', 'right') == side %}
  <div class='query'>
    {% if query.type == 'count' %}
        <h2>{{ query.name }}</h2>
        <em>{{ stats[query.id] }}</em>
    {% elif query.type == 'aggregate' %}
        <h2>{{ query.name }}</h2>
        <div id="{{ query.id }}" class="timeseries" style="width:100%;height:300px;">
        </div>
        <script>
            $(document).ready(function(){
                var headspace = 130

                var data = [
                    {% for day in stats[query.id] %}
                        {
                            date: "{{day._id.y}}-{{day._id.m}}-{{day._id.d}}",
                            value: {{day.value}}
                        }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ]

                make_timeline_line("div#{{ query.id }}", data);
            })
        </script>
    {% endif %}
  </div>
  {% endif %}
{% endfor %}
