    <div class='row'>
        <div class='col-md-6'>
            <p><a href='https://twitter.com/ge2015mentions'>@ge2015mentions on Twitter</a></p>
            <p><a href='https://github.com/tfgg/ppsay'>Code on github</a></p>
            <p>Candidate data from <a href='https://www.yournextmp.com/'>YourNextMP.com</a></p>
        </div>
        <div class='col-md-6'>
            <img src="/static/images/democracy-club.png" class="dc-logo">
            <p>A <a href='https://www.democracyclub.org.uk/'>Democracy Club</a> project.</p>
        </div>
    </div>
