{% extends 'page.html' %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1><img src='/static/images/icon.png' style='height:1.1em;margin-right:5px;'/>#ge2015 candidate mentions</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
        {% include "article_add_form.html" %}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-9'>
        {% set quotes_closed=True %}
        {% include "article_list.html" %}
    </div>
    <div class='col-md-3'>
        <h2>Candidates</h2>
        <input id="autocomplete-candidate">
        <script>
        $(function() {
            $("#autocomplete-candidate").autocomplete({source: "{{ url_for('.autocomplete_person') }}"});
        });
        </script>
        <h2>Constituencies</h2>
        <ul class='constituencies'>
        {% for constituency in constituencies %}
            <li><a href='{{ url_for('.constituency', constituency_id=constituency.id) }}'>{{ constituency.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endblock content %}
