{% extends 'page.html' %}

{% block canonical_link %}{{ url_for('.index') }}{% endblock %}

{% block content %}
<div class='container'>
  {% include "header.html" %}
</div>
<div style='background:#516FFF;color:white;'>
<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
        <div class='intro'>
        <p>See what the press has had to say about your constituency and election candidates with <em>Election Mentions</em>. Learn what they've said and done, make an informed vote.</p>
        <form class='form-inline' method='post' action='{{ url_for("postcode.postcode") }}'>
            <div class='form-group'>
                <input type='text' name='postcode' placeholder='Postcode, e.g. OX1 3DR' class='form-control'/> <input type='submit' value='find my constituency' class='btn btn-default'/>
            </div>
        </form>
        </div>
    </div>
    <div class='col-md-6'>
        <div class='intro-stats'>
        <h3>&hellip; in the last week</h2>
            
        {% if last_week_candidate_mentions[0].image %}
            <a href='{{ url_for('.person', person_id=last_week_candidate_mentions[0].id) }}'>
                <img src='{{ last_week_candidate_mentions[0].image }}' alt='Photo of {{ last_week_candidate_mentions[0].name }}' class='person-image'/>
            </a>
        {% endif %}

        <p>
            <a href='{{ url_for('.person', person_id=last_week_candidate_mentions[0].id) }}'>{{ last_week_candidate_mentions[0].name }}</a> was the most mentioned person, with {{ last_week_candidate_mentions[0].mentions.last_week_count }} mentions.
        </p>
        <p>
            <a href='{{ url_for('.statistics') }}'>See more statistics</a>
        </p>
        </div>
    </div>
  </div>
</div>
</div>
<div class='container'>
    <div class='row' style='margin-top: 20px;'>
        <div class='col-md-12'>
            <h2>Most mentioned in last week</h2>
            <ul style="list-style:none;padding:0;margin:0;">
            {% for candidate in last_week_candidate_mentions %}
                <li style="float:left;width:15%;margin:0;{% if not loop.first %}margin-left:2%;{% endif %}padding:2rem;text-align:center;box-shadow: 2px 2px 10px 5px rgba(136, 136, 136, 0.08);">
                <a href='{{ url_for('.person', person_id=candidate.id) }}'>
                <img src='{{ candidate.image }}' alt='Photo of {{ candidate.name }}' class='person-image' style="width:100px;"/><br/>
                {{ candidate.name }}<br/>
                </a>
                {{ candidate.mentions.last_week_count }} mentions
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

  <div class='row' style='margin-top: 20px;'>
    <div class='col-md-9'>
        <h2>Recently added</h2>
        {% include "stream.html" %}
    </div>
    <div class='col-md-3'>
        <h2>Candidates</h2>
        <input id="autocomplete-candidate" class='form-control' placeholder='Find candidate...'>
        <script>
        $(function() {
            $("#autocomplete-candidate").autocomplete({source: "{{ url_for('.autocomplete_person') }}",
                                                       select: function( event, ui ) {
                                                            $("#autocomplete-candidate").val(ui.item.label);
                                                            window.location.href = "/person/" + ui.item.value;
                                                        },
                                                       focus: function( event, ui ) {
                                                            $("#autocomplete-candidate").val(ui.item.label);
                                                        },
                                                       change: function( event, ui ) {
                                                            $("#autocomplete-candidate").val(ui.item.label);
                                                        }
                                                      });
        });
        </script>
        <h2>Constituencies</h2>
        <ul class='constituencies'>
        {% for constituency in constituencies %}
            <li><a href='{{ url_for('.constituency', constituency_id=constituency.id) }}'>{{ constituency.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endblock content %}
