{% extends 'page.html' %}

{% block canonical_link %}{{ url_for('.person', person_id=person.id) }}{% endblock %}

{% block title %}{{ person.name }} mentions - #ge2015 mentions{% endblock %}

{% if '2015' in person.candidacies %}
    {% set person_party=person.candidacies['2015'].party.name %}
    {% set person_constituency=person.candidacies['2015'].constituency.name %}
{% elif '2010' in person.candidacies %}
    {% set person_party=person.candidacies['2010'].party.name %}
    {% set person_constituency=person.candidacies['2010'].constituency.name %}
{% else %}
    {% set person_party="" %}
    {% set person_constituency="" %}
{% endif %}

{% if '2015' in person.candidacies %}
    {% set person_party=person.candidacies['2015'].party.name %}
    {% set person_constituency=person.candidacies['2015'].constituency.name %}
    {% set person_constituency_id=person.candidacies['2015'].constituency.id %}
    {% set person_year="2015" %}
{% elif '2010' in person.candidacies %}
    {% set person_party=person.candidacies['2010'].party.name %}
    {% set person_constituency=person.candidacies['2010'].constituency.name %}
    {% set person_constituency_id=person.candidacies['2010'].constituency.id %}
    {% set person_year="2010" %}
{% else %}
    {% set person_party="" %}
    {% set person_constituency="" %}
    {% set person_constituency_id="" %}
    {% set person_year="" %}
{% endif %}

{% block content %}
<div class='container'>
  {% include "header.html" %}
  <div class='row'>
    <div class='col-md-12 top-banner'>
      <div class='name'>
          <h1>{{ person.name }}</h1>
      </div>
      <div class='party-and-constituency'>
          <h2>{{ person_party }} &mdash; <a href='{{ url_for('.constituency', constituency_id=person_constituency_id) }}'>{{ person_constituency }}</a> <small>({{ person_year }})</small></h2>
      </div>
      {% if person.deleted %}
        <p class='text-danger'>This person has been deleted</p>
      {% endif %}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2 col-sm-3'>
      {% if person.image %}
        <img width='100%' class='person-image' src='{{ person.image|replace("http://","https://") }}' alt='Photo of {{ person.name }}'/>
      {% endif %}
      {% for year, candidacy in person.candidacies.items() %}
      <p class='person-candidacy'>
          <span class='year'>{{ year }}</span>
          <span class='party'>{{ candidacy.party.name }}</span>
          <span class='constituency'><a href='{{ url_for('.constituency', constituency_id=candidacy.constituency.id) }}'>{{ candidacy.constituency.name }}</a></span>
      </p>
      {% endfor %}

      <a href='http://yournextmp.com/person/{{ person.id }}'>View {{ person.name }} on YourNextMP</a>
    </div>
    <div class='col-md-10 col-sm-9'>
        <p class='warning'>These are automatically extracted quotes that we think are talking about {{ person.name }}. There may be errors, for example the article may be talking about a different {{ person.name }}.</p>
        <ul class='quotes'>
        {% for quote in quotes %}
            <li class='quote'>
                <p class='quote-text'>{{ quote.html|safe }}</p>
                <p class='quote-article-link'>
                    {% if quote.article.page.date_published %}
                        published {{ quote.article.page.date_published.strftime("%-d %b %Y") }} 
                    {% endif %}
                    in <a href='{{ quote.article.page.urls[0] }}'>{{ quote.article.page.title }}</a> ({{ quote.article.domain }})</p>
            </li>
        {% endfor %}
        </ul>
    </div>
  </div>
</div>
<div class='footer'>
<div class='container'>
  {% include "footer.html" %}
</div>
</div>
{% endblock content %}
