{% extends 'page.html' %}

{% block canonical_link %}{{ url_for('.person', person_id=person.id) }}{% endblock %}

{% block title %}{{ person.name }} mentions - #ge2015 mentions{% endblock %}

{% block content %}
<div class='container'>
  {% include "header.html" %}
  <div class='row'>
    <div class='col-md-12 top-banner'>
      <h1>{{ person.name }}</h1>
      {% if person.deleted %}
        <p class='text-danger'>This person has been deleted</p>
      {% endif %}
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      {% if person.image %}
        <img width='100%' class='person-image' src='{{ person.image|replace("http://","https://") }}'/>
      {% endif %}
      {% for year, candidacy in person.candidacies.items() %}
      <p class='person-candidacy'>
          <span class='year'>{{ year }}</span>
          <span class='party'>{{ candidacy.party.name }}</span>
          <span class='constituency'><a href='{{ url_for('.constituency', constituency_id=candidacy.constituency.id) }}'>{{ candidacy.constituency.name }}</a></span>
      </p>
      {% endfor %}
      <a href='http://yournextmp.com/person/{{ person.id }}'>View on YourNextMP</a>
    </div>
    {#<div class='col-md-10'>
      {% include "article_add_form.html" %}
    </div>#}
    <div class='col-md-10'>
        <p class='warning'>These are articles that we think are talking about {{ person.name }}. There may be errors.</p>
        {% set quotes_closed=True %}
        {% include "article_list.html" %}
        <script>
            {% for year, candidacy in person.candidacies.items() %}
            $('.quote-constituency-{{ candidacy.constituency.id }}').removeClass('quote-closed').show();
            $('.quote-constituency-{{ candidacy.constituency.id }}-highlight').addClass("constituency-highlight");
            {% endfor %}

            $('.quote-candidate-{{ person.id }}').removeClass('quote-closed').show();
            $('.quote-candidate-{{ person.id }}-highlight').addClass("candidate-highlight");

            recalculate_extra_quotes();
        </script>
    </div>
  </div>
</div>
<div class='container-fluid'>
  {% include "footer.html" %}
</div>
{% endblock content %}
