{% extends 'page.html' %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <a href='{{ url_for(".index") }}' class='link-back'>&lt; all articles</a>
      <h1>{{ person.name }}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <img width='100%' src='{{ person.image }}'/>
      {% for year in person.standing_in %}
      {% if person.standing_in[year] %}
      <p class='person-candidacy'>
          <span class='year'>{{ year }}</span>
          <span class='party'>{{ person.party_memberships[year].name }}</span>
          <span class='constituency'>{{ person.standing_in[year].name }}</span>
      </p>
      {% endif %}
      {% endfor %}
    </div>
    <div class='col-md-10'>
        {% include "article_list.html" %}
    </div>
  </div>
</div>
{% endblock content %}
