{% extends 'page.html' %}

{% block content %}
<div class='container'>
    {% include "header.html" %}
    <div class='row'>
        <div class='col-md-12'>
            <h1>Statistics</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <h2>Most mentioned candidates</h2>
            <p>This statistic is how many news articles that we know about mention a given candidate at least once.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <h3>&hellip; in the last week</h2>

            <table class="table table-striped">
                <thead>
                    <th>Rank</th>
                    <th>Name</th>
                    <th># mentions</th>
                </thead>
                <tbody>
            {% for candidate in last_week_candidate_mentions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href='{{ url_for(".person",person_id=candidate.id) }}'>{{ candidate.name }}</a></td>
                    <td>{{ candidate.mentions.last_week_count }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table> 
        </div>

        <div class='col-md-6'>
            <h3>&hellip; since the start</h2>

            <table class="table table-striped">
                <thead>
                    <th>Rank</th>
                    <th>Name</th>
                    <th># mentions</th>
                </thead>
                <tbody>
            {% for candidate in total_candidate_mentions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href='{{ url_for(".person",person_id=candidate.id) }}'>{{ candidate.name }}</a></td>
                    <td>{{ candidate.mentions.total_count }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>
<div class='footer'>
<div class='container'>
    {% include "footer.html" %}
</div>
</div>
{% endblock %}
