{% extends 'page.html' %}

{% block content %}
<div class='container'>
    {% include "header.html" %}
    <div class='row'>
        <div class='col-md-12 top-banner'>
            <div class='name'>
            <h1>Statistics</h1>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <h2>Most mentioned candidates</h2>
            <p>This statistic is how many news articles that we know about mention a given candidate at least once.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <h3>&hellip; in the last week</h2>

            <table class="table table-striped">
                <thead>
                    <th class='numcol'>Rank</th>
                    <th>Name</th>
                    <th class='numcol'># mentions</th>
                    <th class='numcol'>Change</th>
                </thead>
                <tbody>
            {% for candidate in last_week_candidate_mentions %}
                <tr>
                    <td class='numcol'>{{ loop.index }}</td>
                    <td><a href='{{ url_for(".person",person_id=candidate.id) }}'>{{ candidate.name }}</a></td>
                    <td class='numcol'>{{ candidate.mentions.last_week_count }}</td>
                    <td class='numcol'>
                        {% if candidate.mentions.last_last_week_rank != None %}
                            {% set rank_diff = candidate.mentions.last_last_week_rank - candidate.mentions.last_week_rank %}

                            {% if rank_diff > 50 - candidate.mentions.last_week_rank %}
                                <span class='stats-green'><strong>+{{ rank_diff }}</strong></span>
                            {% elif rank_diff < 0 %}
                                <span class='stats-red'>{{ rank_diff }}</span>
                            {% elif rank_diff > 0 %}  
                                <span class='stats-green'>+{{ rank_diff }}</span>
                            {% else  %}
                                --
                            {% endif %}
                        {% else %}
                            new
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table> 
        </div>

        <div class='col-md-6'>
            <h3>&hellip; since the start</h2>

            <table class="table table-striped">
                <thead>
                    <th class='numcol'>Rank</th>
                    <th>Name</th>
                    <th class='numcol'># mentions</th>
                </thead>
                <tbody>
            {% for candidate in total_candidate_mentions %}
                <tr>
                    <td class='numcol'>{{ loop.index }}</td>
                    <td><a href='{{ url_for(".person",person_id=candidate.id) }}'>{{ candidate.name }}</a></td>
                    <td class='numcol'>{{ candidate.mentions.total_count }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <h3>&hellip; in the national press</h2>

            <table class="table table-striped">
                <thead>
                    <th class='numcol'>Rank</th>
                    <th>Name</th>
                    <th class='numcol'># mentions</th>
                </thead>
                <tbody>
            {% for candidate in national_candidate_mentions %}
                <tr>
                    <td class='numcol'>{{ loop.index }}</td>
                    <td><a href='{{ url_for(".person",person_id=candidate.id) }}'>{{ candidate.name }}</a></td>
                    <td class='numcol'>{{ candidate.mentions.national_count }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table> 
        </div>
        <div class='col-md-6'>
            <h3>&hellip; in the local press</h2>

            <table class="table table-striped">
                <thead>
                    <th class='numcol'>Rank</th>
                    <th>Name</th>
                    <th class='numcol'># mentions</th>
                </thead>
                <tbody>
            {% for candidate in local_candidate_mentions %}
                <tr>
                    <td class='numcol'>{{ loop.index }}</td>
                    <td><a href='{{ url_for(".person",person_id=candidate.id) }}'>{{ candidate.name }}</a></td>
                    <td class='numcol'>{{ candidate.mentions.local_count }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>
<div class='footer'>
<div class='container'>
    {% include "footer.html" %}
</div>
</div>
{% endblock %}
