ul.article-list {
  list-style:none;
  margin:0;
  padding:0;
  word-wrap: break-word;

  li.article-election-break {
    padding-top: 20px;
    padding-left: 70px;
    font-size: 24px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  li.article-item {
    margin-bottom: 1em;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.08);

    @media screen and (max-width: 1400px) {
        margin-top: 50px;
    }

    &:nth-of-type(1) {
    /*    padding-top: 0px; */
    }
    
    &:nth-last-of-type(1) {
    /*    border-bottom: 0; */
        margin-bottom: 0;
    }

    div.article-by {
        div.article-date {
            color: #333;
            font-size: small;
            float: left;
        }

        div.article-domain {
            float: left;
            font-size: small;
        }
    }

    div.article-head {
      margin-top: 0;
      margin-bottom: 10px;
      font-size:1.4em;

      a.article-link {
        color: $highlight;
      }

      small a {
        color: #999;
        text-decoration: underline;
      } 
    }
 
    ul.article-mentions-people, ul.article-mentions-constituencies {
      float: left;
      list-style:none;
      margin:0;
      padding:0;
      font-size:0.9em;

      li {
        display: inline-block;
        float: left;
        margin-left: 5px;
    
        &:nth-of-type(1) {
            margin-left: 0;
        }

        a {
          /*display: block;
          margin: 2px;*/
          padding: 5px;
          cursor: pointer;
        }

        a.candidate-mention-expand {
          font-size: 1.2em;

          &:hover {
            text-decoration: none;
          }
        }

        a.constituency-mention-expand {
          font-size: 1.2em;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  
    ul.article-mentions-constituencies {
      li {
        background: lighten($highlight, 45%);

        a {
          color: darken($highlight, 0%);
        }

        &.constituency-score-unknown {
            background: lighten($highlight, 55%);
        }
        
        &.constituency-score-removed {
            display: none;
        }
        
        &.constituency-score-confirmed {
            background: lighten($highlight, 45%);
        }
      }
    }
  
    ul.article-mentions-people {
      li {
        background: #FFFECE;
        
        &.candidate-score-unknown {
            background: #FFFEEE;
        }   
        
        &.candidate-score-confirmed {
            background: #FFFECE;
        }   
        
        &.candidate-score-confirmed_ml {
            background: #FFFECE;
        }   
        
        &.candidate-score-removed {
            display: none;
        }   
        
        &.candidate-score-removed_ml {
            display: none;
        }   
        
        a {
          color: darken($highlight, 25%);
        }
      }
    }
  }
}
