div.dashboard {
    h2:first-child {
        margin-top: 0;
    }

    div.timeseries {
        svg {
            path {
                fill: none;

                &.domain {
                    stroke: #ccc;
                }
                
                &.line {
                    stroke: black;
                }
            }
        }
    }
}
