div.dashboard {
    h2:first-child {
        margin-top: 0;
    }

    div.query {
        padding: 2rem;
        background:#F5F5F5;
        margin-top: 1rem;
        margin-bottom: 1rem;

        em {
            font-size: 2rem;
        }
    }

    div.timeseries {
        svg {
            path {
                fill: none;

                &.domain {
                    stroke: #ccc;
                }
                
                &.line {
                    stroke: black;
                }
            }
        }
    }
}
