p.person-candidacy {
  font-size: 1.0em;
  color: #666; }
  p.person-candidacy .year {
    display: block;
    font-size: 1.1em; }
  p.person-candidacy .party {
    display: block;
    font-size: 1.2em; }
  p.person-candidacy .constituency {
    display: block;
    color: #333; }

ul.article-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.article-list li.article-item {
    margin: 0;
    padding: 0; }
    ul.article-list li.article-item a.article-link {
      font-size: 1.4em;
      color: #3333CC; }
    ul.article-list li.article-item ul.article-mentions {
      list-style: none;
      margin: 0;
      padding: 0; }
      ul.article-list li.article-item ul.article-mentions li {
        display: inline-block;
        margin: 5px;
        padding: 5px;
        border: 1px solid #cccccc;
        border-radius: 2px; }
        ul.article-list li.article-item ul.article-mentions li a {
          color: black; }
