p.person-candidacy {
  font-size: 1.0em;
  color: #666; }
  p.person-candidacy .year {
    display: block;
    font-size: 1.1em; }
  p.person-candidacy .party {
    display: block;
    font-size: 1.2em; }
  p.person-candidacy .constituency {
    display: block;
    color: #333; }

ul.article-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.article-list li.article-item {
    margin: 0;
    padding: 0;
    margin-bottom: 20px; }
    ul.article-list li.article-item h2 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 1.6em; }
      ul.article-list li.article-item h2 a.article-link {
        color: #3333cc; }
    ul.article-list li.article-item ul.article-mentions-people, ul.article-list li.article-item ul.article-mentions-constituencies {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0.9em; }
      ul.article-list li.article-item ul.article-mentions-people li, ul.article-list li.article-item ul.article-mentions-constituencies li {
        display: inline-block; }
        ul.article-list li.article-item ul.article-mentions-people li a, ul.article-list li.article-item ul.article-mentions-constituencies li a {
          display: block;
          margin: 2px;
          padding: 3px; }
    ul.article-list li.article-item ul.article-mentions-constituencies li {
      background: #ebebfa; }
      ul.article-list li.article-item ul.article-mentions-constituencies li a {
        color: #3333cc; }
    ul.article-list li.article-item ul.article-mentions-people li {
      background: #FFFECE; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-0-0 {
        background: none; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-0-5 {
        background: #FFFEEE; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-1-0 {
        background: #FFFEDE; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-1-5 {
        background: #FFFECE; }
      ul.article-list li.article-item ul.article-mentions-people li a {
        color: #191966; }
