body {
  font-family: 'Droid Sans'; }

h1, h2, h3, h4, h5 {
  font-family: 'Droid Serif'; }

div.footer {
  background: #f0f0f0;
  margin-top: 40px; }
  div.footer div.row {
    padding: 20px; }
    div.footer div.row p {
      margin: 20px; }
    div.footer div.row .dc-logo {
      width: 100px;
      float: left;
      margin: 20px;
      border: 5px solid white; }

div.header .header-title {
  margin-top: 20px;
  margin-bottom: 20px; }
  div.header .header-title a.header-title-text:link, div.header .header-title a.header-title-text:visited, div.header .header-title a.header-title-text:hover {
    color: black;
    text-decoration: none;
    font-size: 36px;
    font-family: "Droid Serif", serif;
    color: black;
    text-rendering: optimizeLegibility; }
  div.header .header-title a#nav-statistics {
    color: rgba(0, 0, 0, 0.76);
    margin-left: 1em;
    font-size: 1.2em;
    position: relative;
    padding: 5px;
    border: 1px solid rgba(69, 100, 254, 0.16);
    top: -0.2em;
    display: inline-block; }

th.numcol, td.numcol {
  text-align: right; }

span.stats-red {
  color: #CC0000; }

span.stats-green {
  color: #00CC00; }

div.top-banner div.name {
  background: #4564fd;
  color: white;
  padding: 15px; }
  div.top-banner div.name h1 {
    margin: 0;
    text-rendering: optimizeLegibility; }
div.top-banner div.party-and-constituency {
  background: #F7F7F7;
  color: #6e707c;
  padding: 15px; }
  div.top-banner div.party-and-constituency h2 {
    font-size: 20px;
    margin: 0;
    text-rendering: optimizeLegibility; }
    div.top-banner div.party-and-constituency h2 a:link, div.top-banner div.party-and-constituency h2 a:visited {
      color: #6e707c;
      text-decoration: underline; }
    div.top-banner div.party-and-constituency h2 small {
      font-size: 80%;
      color: #aaa; }

a.link-back {
  padding: 10px;
  display: block; }

form.add-article-form {
  padding: 10px;
  margin-bottom: 20px;
  background: #4665FF;
  color: white; }
  form.add-article-form h3 {
    margin-top: 0; }

.intro {
  background: #4564fd;
  color: white;
  padding: 2em; }
  .intro p {
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: "Droid Serif"; }

.intro-stats {
  color: white; }
  .intro-stats p {
    font-size: 1.1em;
    line-height: 1.5em;
    font-family: "Droid Serif"; }
  .intro-stats a {
    text-decoration: underline; }
    .intro-stats a:link, .intro-stats a:visited {
      color: white; }
  .intro-stats img.person-image {
    float: left;
    height: 100px;
    margin-right: 10px;
    border: 5px solid white; }

p.warning {
  padding: 10px;
  color: #6977B8;
  background: rgba(69, 100, 253, 0.06); }

p.success {
  padding: 10px;
  color: #5D8B00;
  background: rgba(97, 153, 0, 0.06); }

ul.constituencies {
  list-style: none;
  padding: 0; }
  ul.constituencies li {
    padding: 5px; }

table.table-domains {
  width: 100%; }
  table.table-domains tr.table-domains-domain {
    padding-bottom: 1em;
    vertical-align: top; }
    table.table-domains tr.table-domains-domain td {
      width: 25%; }

svg.chart circle {
  fill: rgba(255, 255, 255, 0.5);
  stroke: gray;
  stroke-width: 2; }
svg.chart text.label-x {
  text-anchor: middle;
  alignment-baseline: hanging; }
svg.chart text.label-y {
  text-anchor: end;
  alignment-baseline: middle; }
svg.chart line.axis-x, svg.chart line.axis-y {
  stroke: gray;
  stroke-width: 2; }

svg.timeline circle {
  fill: rgba(255, 255, 255, 0.5);
  stroke: gray;
  stroke-width: 2; }
svg.timeline circle:hover {
  stroke: #8080ff; }
svg.timeline rect.bar {
  fill: #fddd66; }
svg.timeline rect.bar_hidden {
  fill: rgba(255, 255, 255, 0); }
svg.timeline text.bar {
  fill: black;
  text-anchor: middle;
  opacity: 0.1; }
svg.timeline text.bar_highlight {
  fill: black;
  opacity: 1.0; }
svg.timeline line.axis {
  stroke: gray;
  stroke-width: 2; }
svg.timeline line.marker {
  stroke: gray;
  stroke-width: 2; }
svg.timeline text {
  text-anchor: middle; }
svg.timeline line.month-marker {
  opacity: 0.5; }
svg.timeline line.year-marker {
  opacity: 0.75; }
svg.timeline text.election-text {
  fill: #999; }

ul.candidates {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.candidates li.candidate {
    padding: 10px;
    margin-right: 1%;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 32%;
    background: #FFFFFF;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.08); }
    @media screen and (max-width: 1000px) {
      ul.candidates li.candidate {
        width: 49%; } }
    @media screen and (max-width: 700px) {
      ul.candidates li.candidate {
        width: 100%;
        margin-right: 0; } }
    ul.candidates li.candidate div.candidate-count {
      float: right;
      background: #EFEFEF;
      padding: 5px; }
    ul.candidates li.candidate div.candidate-photo {
      display: block;
      width: 40px;
      float: left;
      background: #999; }
      ul.candidates li.candidate div.candidate-photo img {
        width: 40px; }
    ul.candidates li.candidate div.candidate-name {
      font-weight: bold;
      display: block;
      padding-left: 50px; }
    ul.candidates li.candidate div.candidate-party {
      font-style: italic;
      display: block;
      padding-left: 50px; }

p.person-candidacy {
  font-size: 1.0em;
  color: #666;
  margin-bottom: 20px;
  background: #f7f7f7;
  padding: 10px; }
  p.person-candidacy .year {
    display: block;
    font-size: 0.9em;
    color: #999; }
  p.person-candidacy .party {
    display: block;
    font-size: 1.2em; }
  p.person-candidacy .constituency {
    display: block;
    color: #333; }

p.person-candidacy-current {
  border-bottom: 0.5rem solid #C5C5C5; }

img.person-image {
  margin-bottom: 20px; }

ul.quotes {
  clear: both;
  list-style: none;
  padding: 0;
  padding-top: 5px; }
  ul.quotes li.quote-more p {
    background: #FFFFFF;
    padding: 0;
    margin: 10px;
    font-size: 0.9em;
    font-style: italic;
    text-align: right; }
  ul.quotes li.quote p.quote-article-link {
    text-align: left;
    color: #999;
    font-size: 0.8em; }
  ul.quotes li.quote p.quote-text {
    background: #F0F0F0;
    padding: 10px;
    line-height: 2em; }
    ul.quotes li.quote p.quote-text a.quote-candidate-highlight {
      border-bottom: rgba(255, 255, 128, 0.25) 5px solid;
      color: #333;
      padding: 5px; }
    ul.quotes li.quote p.quote-text a.quote-constituency-highlight {
      border-bottom: rgba(200, 200, 255, 0.25) 5px solid;
      color: #333;
      padding: 5px; }
    ul.quotes li.quote p.quote-text a.candidate-highlight {
      background: rgba(255, 255, 128, 0.25);
      border-bottom: rgba(255, 255, 128, 0.75) 5px solid; }
    ul.quotes li.quote p.quote-text a.constituency-highlight {
      background: rgba(200, 200, 255, 0.25);
      border-bottom: rgba(200, 200, 255, 0.75) 5px solid; }
  ul.quotes li.quote ul.quote-mentions {
    font-size: 0.8em;
    list-style: none;
    padding: 0; }
    ul.quotes li.quote ul.quote-mentions li {
      display: inline-block; }
      ul.quotes li.quote ul.quote-mentions li a {
        display: block;
        margin: 2px;
        padding: 3px;
        color: #333; }
    ul.quotes li.quote ul.quote-mentions li.quote-mention-candidate {
      background: #FFFECE; }
    ul.quotes li.quote ul.quote-mentions li.quote-mention-party {
      background: #E7FFE6; }
    ul.quotes li.quote ul.quote-mentions li.quote-mention-constituency {
      background: #ebebfa; }
  ul.quotes li.quote-closed {
    display: none; }

ul.publications {
  list-style: none;
  padding: 0; }
  ul.publications li.publication {
    margin-bottom: 1em; }
    ul.publications li.publication div.publication-name {
      font-size: 1.1em; }
    ul.publications li.publication div.publication-count {
      opacity: 0.5; }

ul.article-list {
  list-style: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }
  ul.article-list li.article-election-break {
    padding-top: 20px;
    padding-left: 70px;
    font-size: 24px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; }
  ul.article-list li.article-item {
    margin-bottom: 1em;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.08); }
    ul.article-list li.article-item:nth-of-type(1) {
      /*    padding-top: 0px; */ }
    ul.article-list li.article-item:nth-last-of-type(1) {
      /*    border-bottom: 0; */
      margin-bottom: 0; }
    ul.article-list li.article-item div.article-by div.article-date {
      color: #333;
      font-size: small;
      float: left; }
    ul.article-list li.article-item div.article-by div.article-domain {
      float: left;
      font-size: small; }
    ul.article-list li.article-item div.article-head {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 1.4em; }
      ul.article-list li.article-item div.article-head a.article-link {
        color: #3333CC; }
      ul.article-list li.article-item div.article-head small a {
        color: #999;
        text-decoration: underline; }
    ul.article-list li.article-item ul.article-mentions-people, ul.article-list li.article-item ul.article-mentions-constituencies {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0.9em; }
      ul.article-list li.article-item ul.article-mentions-people li, ul.article-list li.article-item ul.article-mentions-constituencies li {
        display: inline-block;
        float: left;
        margin-left: 5px; }
        ul.article-list li.article-item ul.article-mentions-people li:nth-of-type(1), ul.article-list li.article-item ul.article-mentions-constituencies li:nth-of-type(1) {
          margin-left: 0; }
        ul.article-list li.article-item ul.article-mentions-people li a, ul.article-list li.article-item ul.article-mentions-constituencies li a {
          /*display: block;
          margin: 2px;*/
          padding: 5px;
          cursor: pointer; }
        ul.article-list li.article-item ul.article-mentions-people li a.candidate-mention-expand, ul.article-list li.article-item ul.article-mentions-constituencies li a.candidate-mention-expand {
          font-size: 1.2em; }
          ul.article-list li.article-item ul.article-mentions-people li a.candidate-mention-expand:hover, ul.article-list li.article-item ul.article-mentions-constituencies li a.candidate-mention-expand:hover {
            text-decoration: none; }
        ul.article-list li.article-item ul.article-mentions-people li a.constituency-mention-expand, ul.article-list li.article-item ul.article-mentions-constituencies li a.constituency-mention-expand {
          font-size: 1.2em; }
          ul.article-list li.article-item ul.article-mentions-people li a.constituency-mention-expand:hover, ul.article-list li.article-item ul.article-mentions-constituencies li a.constituency-mention-expand:hover {
            text-decoration: none; }
    ul.article-list li.article-item ul.article-mentions-constituencies li {
      background: #ebebfa; }
      ul.article-list li.article-item ul.article-mentions-constituencies li a {
        color: #3333cc; }
      ul.article-list li.article-item ul.article-mentions-constituencies li.constituency-score-unknown {
        background: white; }
      ul.article-list li.article-item ul.article-mentions-constituencies li.constituency-score-removed {
        display: none; }
      ul.article-list li.article-item ul.article-mentions-constituencies li.constituency-score-confirmed {
        background: #ebebfa; }
    ul.article-list li.article-item ul.article-mentions-people li {
      background: #FFFECE; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-unknown {
        background: #FFFEEE; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-confirmed {
        background: #FFFECE; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-confirmed_ml {
        background: #FFFECE; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-removed {
        display: none; }
      ul.article-list li.article-item ul.article-mentions-people li.candidate-score-removed_ml {
        display: none; }
      ul.article-list li.article-item ul.article-mentions-people li a {
        color: #191966; }

ul.people-tagged {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.people-tagged li.person-tagged {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd; }
    ul.people-tagged li.person-tagged .name {
      font-size: 1.2em; }
    ul.people-tagged li.person-tagged .candidacies {
      font-size: 0.9em;
      background: rgba(255, 255, 255, 0.5);
      padding: 10px;
      margin: 5px; }
      ul.people-tagged li.person-tagged .candidacies .candidacy {
        margin-bottom: 10px; }
        ul.people-tagged li.person-tagged .candidacies .candidacy .year {
          display: block;
          font-size: 1.1em;
          color: #666; }
        ul.people-tagged li.person-tagged .candidacies .candidacy .party {
          display: block;
          font-size: 1.2em; }
        ul.people-tagged li.person-tagged .candidacies .candidacy .constituency {
          display: block;
          color: #333; }
  ul.people-tagged li.person-tagged-confirmed_ml {
    background: #ffc;
    border: 0; }
  ul.people-tagged li.person-tagged-removed_ml {
    background: #fee;
    border: 0; }
  ul.people-tagged li.person-tagged-confirmed {
    background: #dfd;
    border: 0; }
  ul.people-tagged li.person-tagged-removed {
    background: #fdd;
    border: 0; }

ul.constituencies-tagged {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.constituencies-tagged li.constituency-tagged {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd; }
    ul.constituencies-tagged li.constituency-tagged .name {
      font-size: 1.2em; }
  ul.constituencies-tagged li.constituency-tagged-confirmed {
    background: #dfd;
    border: 0; }
  ul.constituencies-tagged li.constituency-tagged-removed {
    background: #fdd;
    border: 0; }

div.article-text a.quote-candidate-highlight {
  background: rgba(255, 255, 128, 0.75);
  color: #333;
  padding: 5px; }
div.article-text a.quote-constituency-highlight {
  background: rgba(200, 200, 255, 0.75);
  color: #333;
  padding: 5px; }

ul.tab-nav {
  list-style: none;
  padding: 0; }
  ul.tab-nav li {
    float: left;
    margin-right: 0.5rem;
    margin-bottom: 1rem; }
    ul.tab-nav li a {
      display: block;
      border: 1px solid #eee;
      border-bottom: 0;
      padding: 1rem; }
      ul.tab-nav li a:link, ul.tab-nav li a:visited, ul.tab-nav li a:hover {
        text-decoration: none;
        color: #666; }

div.dashboard h2:first-child {
  margin-top: 0;
  font-size: 2.5rem; }
div.dashboard div.query {
  padding: 2rem;
  background: #F5F5F5;
  margin-top: 5%; }
  div.dashboard div.query em {
    font-size: 2rem; }
div.dashboard div.timeseries svg path {
  fill: none; }
  div.dashboard div.timeseries svg path.domain {
    stroke: #ccc; }
  div.dashboard div.timeseries svg path.line {
    stroke: black; }
div.dashboard table {
  width: 100%; }
  div.dashboard table th {
    font-weight: bold; }
  div.dashboard table th, div.dashboard table td {
    padding: 1rem;
    border: 1px solid #ccc; }
