$black: #000000;
$white: #ffffff;
$highlight: #3333CC;
$grey: #cccccc;

body {
    font-family: 'Droid Sans';
}

h1, h2, h3, h4, h5 {
    font-family: 'Droid Serif';
}

a.link-back {
    padding: 10px;
    display: block;
}

form.add-article-form {
    padding: 10px;
    background: #4665FF;
    color: white;

    h3 {
        margin-top: 0;
    }
}

p.person-candidacy {
  font-size: 1.0em;
  color: #666;

  .year {
    display: block;
    font-size: 1.1em;
  }

  .party {
    display: block;
    font-size: 1.2em;
  }

  .constituency {
    display: block;
    color: #333;
  }  
}

ul.people-tagged {
    list-style: none;
    padding: 0;
    margin: 0;

    li.person-tagged {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;


        .name {
            font-size: 1.2em;
        }

        .candidacies {
            font-size: 0.9em;
            background: rgba(255,255,255,0.5);
            padding: 10px;
            margin: 5px;

            .candidacy {
                margin-bottom:10px;

                .year {
                    display: block;
                    font-size: 1.1em;
                    color: #666;
                }

                .party {
                    display: block;
                    font-size: 1.2em;
                }

                .constituency {
                    display: block;
                    color: #333;
                }  
            }
        }
    }

    li.person-tagged-confirmed {
        background: #dfd;
        border: 0;
    }
    
    li.person-tagged-removed {
        background: #fdd;
        border: 0;
    }
}

ul.constituencies-tagged {
    list-style: none;
    padding: 0;
    margin: 0;

    li.constituency-tagged {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;

        .name {
            font-size: 1.2em;
        }
    }

    li.constituency-tagged-confirmed {
        background: #dfd;
        border: 0;
    }
    
    li.constituency-tagged-removed {
        background: #fdd;
        border: 0;
    }
}

ul.constituencies {
    list-style: none;
    padding :0;

    li {
        padding: 5px;
    }
}

ul.article-list {
  list-style:none;
  margin:0;
  padding:0;
  word-wrap: break-word;

  li.article-item {
    margin:0;
    padding: 10px;
    background: #FFFFFF;
    border-bottom: 1px solid #eee;

    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size:1.4em;
      a.article-link {
        color: $highlight;
      }
    }

    ul.quotes {
        list-style: none;
        padding: 0;

        li.quote {
            p.quote-text {
                background: #F0F0F0;
                padding: 10px;
                margin: 10px;

                a.quote-candidate-highlight {
                    background: rgba(255,255,128,0.25);
                    color: #333;
                    padding: 5px;
                }
                
                a.quote-constituency-highlight {
                    background: #E8E8FF;
                    color: #333;
                    padding: 5px;
                }

                a.highlight {
                    background: rgba(255,255,128,0.75);
                }
            }

            ul.quote-mentions {
                font-size:0.8em;
                list-style: none;
                padding: 0;

                li {
                    display: inline-block;

                    a {
                      display: block;
                      margin: 2px;
                      padding: 3px;
                      color: #333;
                    }
                }

                li.quote-mention-candidate {
                    background: #FFFECE;
                }
                
                li.quote-mention-party {
                    background: #E7FFE6;
                }
                
                li.quote-mention-constituency {
                    background: lighten($highlight, 45%);
                }
            }
        }

        li.quote-closed {
            display: none;
        }
    }

    ul.article-mentions-people, ul.article-mentions-constituencies {
      list-style:none;
      margin:0;
      padding:0;
      font-size:0.9em;

      li {
        display: inline-block;

        a {
          /*display: block;
          margin: 2px;*/
          padding: 5px;
          cursor: pointer;
        }

        a.candidate-mention-expand {
          font-size: 1.2em;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  
    ul.article-mentions-constituencies {
      li {
        background: lighten($highlight, 45%);

        a {
          color: darken($highlight, 0%);
        }

        &.constituency-score-unknown {
            background: lighten($highlight, 55%);
        }
        
        &.constituency-score-removed {
            display: none;
        }
        
        &.constituency-score-confirmed {
            background: lighten($highlight, 45%);
        }
      }
    }
  
    ul.article-mentions-people {
      li {
        background: #FFFECE;
        
        &.candidate-score-unknown {
            background: #FFFEEE;
        }   
        
        &.candidate-score-confirmed {
            background: #FFFECE;
        }   
        
        &.candidate-score-removed {
            display: none;
        }   
        
        a {
          color: darken($highlight, 25%);
        }
      }
    }
  }
}
